.my-account {
  h3 {
    padding-bottom: 0;
  }

  .buying {

    .item {
      margin-bottom: 3rem;

      h3 {
        font-size: 1.6rem;
      }

      p {
        margin-bottom: 0.5rem;
      }
    }
  }
}
