
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$blue-clair: #80c4fe;
$moutarde : #e5cd3d;
$moutarde-clair : #faf5da;

//text
$blue-fonce: #41a5f3;
$creme : #f1f8fe;
