
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


$blue-clair: #80c4fe;
$moutarde : #e5cd3d;

//text
$blue-fonce: #41a5f3;
$creme : #f1f8fe;

body {

    background-color: #FFF;
    max-width: 78rem;
    margin: 0 auto;

    .navbar-light .navbar-nav {
        font-variant: all-small-caps;
        font-size: 1rem;

        .nav-link {
            color: $blue-clair;
            font-weight: bold;

            &:hover {
                color: $blue-fonce;
                text-decoration-line: underline;
            }
        }
    }


    h3 {
        font-family: serif;
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    h4 {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .post-content {
        color: #000;

        h1 {
            font-family: serif;
        }

        a {
            color: #000;
        }

        .img-fluid {
            padding-bottom: 1rem;
        }

        .links {
            padding: 1rem 0;
        }

        .tags .tag {
            padding: 0 0.2rem;
        }

        .text {
            padding: 2rem 0;
        }
    }

    .aside {

        .video {
            background-color: $blue-clair;
            padding: 2.5rem 1.8rem 1.8rem 1.5rem;
            margin-bottom: 3rem;
            font-size: .9rem;
            font-family: sans-serif;
            color: $creme;

            .links {
                div {
                    display: inline-block;
                }

                .love {
                    font-weight: bold;
                }
            }

            .resume {
                padding: 1rem 0;
                line-height: 1.6rem;
            }
        }
    }

    .post-links {
        margin-top: 2rem;
        font-family: sans-serif;

        .post {
            padding-bottom: 1.9rem;
            margin-bottom: 3rem;
            color: $blue-fonce;

            img {
                margin-bottom: 1rem;
            }
            .resume {
                padding: 0 1.5rem;

                h4 {
                    font-size: 1.3rem;
                    font-weight: bold;
                    margin: .8rem 0;
                }

                .text {
                    margin: 1rem 0 1.7rem 0;
                    line-height: 1.6rem;
                }

                .links {
                    font-weight: bold;
                    margin: .5rem 0;

                    div {
                        display: inline-block;
                    }
                    
                    .share {

                    }
                }
            }
        }
    }

    footer {
        background-color: $moutarde;
        height: 120px;
        width: 100%;
        //position: absolute;
        bottom: 0;
    }
}
