
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


$blue-clair: #80c4fe;
$moutarde : #e5cd3d;
$moutarde-clair : #faf5da;

//text
$blue-fonce: #41a5f3;
$creme : #f1f8fe;

body {
    font-family: sans-serif;
    background-color: #FFF;

    margin: 0 auto;

    .main {
        max-width: 78rem;
        margin: 0 auto;
    }

    #app {
        min-height: 100vh;
    }

    .navbar-light .navbar-nav {
        font-variant: all-small-caps;
        font-size: 1rem;

        .nav-link {
            color: $blue-clair;
            font-weight: bold;

            &:hover {
                color: $blue-fonce;
                text-decoration-line: underline;
            }
        }
    }

    h1 {
      font-family: serif;
    }

    h3 {
        font-family: serif;
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    h4 {
        font-family: serif;
        font-size: 1.3rem;
        font-weight: bold;
    }

    .post-content, .formation-resume {
        color: #000;

        a {
            color: #000;
        }

        .img-fluid {
            padding-bottom: 1rem;
        }

        .links {
            padding: 1rem 0;
        }

        .tags .tag {
            padding: 0 0.2rem;
        }

        .text {
            padding: 2rem 0;
        }
    }

    .aside {

        .video {
            background-color: $blue-clair;
            padding: 2.5rem 1.8rem 1.8rem 1.5rem;
            margin-bottom: 3rem;
            font-size: .9rem;
            color: $creme;

            h4 {
              font-family: sans-serif;
            }

            .links {
                div {
                    display: inline-block;
                }

                .love {
                    font-weight: bold;
                }
            }

            .resume {
                padding: 1rem 0;
                line-height: 1.6rem;
            }
        }

        .image {
            img {
                padding: 0 2rem;
            }
        }
    }

    .post-links {
        margin-top: 2rem;

        .post {
            padding-bottom: 1.9rem;
            margin-bottom: 3rem;
            color: $blue-fonce;

            img {
                margin-bottom: 1rem;
            }
            .resume {
                padding: 0 1.5rem;

                h4 {
                    font-family: sans-serif;
                    font-size: 1.3rem;
                    font-weight: bold;
                    margin: .8rem 0;
                }

                .text {
                    margin: 1rem 0 1.7rem 0;
                    line-height: 1.6rem;
                    height: 3rem;
                    overflow-y: hidden;
                }

                .links {
                    font-weight: bold;
                    margin: .5rem 0;

                    div {
                        display: inline-block;
                    }

                    .share {

                    }
                }
            }
        }
    }



    .formation {

        .teaser-video {
            margin-bottom: 2rem;
        }

        .resume {
          margin: 3rem 0;
          column-count: 2;
          column-gap: 4rem;
          text-align: justify;

          hr {
            border-top: 2px solid $moutarde;
          }

          .citation {
              font-family: serif;
              font-style: italic;
              font-size: 1.3rem;
              text-align: left;
              margin-bottom: 0;
          }
        }

      .aside {

        .btn-comprar {
            background-color: $moutarde;
            color: white;
            font-weight: bold;
            max-width: 260px;
            margin: 1rem 0 3rem 1rem;
        }

          .author {
            background-color: $moutarde-clair;
            padding: 1.2rem;
            max-width: 390px;
            margin-left: 1rem;

            .logo {
              position: absolute;

              img {
                height: 2rem;
              }

            }


            .identity {
              position: relative;
              right: -48px;
              top: 4px;
              font-size: 13px;
              width: 86%;

              .name {
                font-weight: bold;
              }
            }
          }
      }

    }

    .explore {

      h4 {
        font-size: 1.5rem;
        font-weight: normal;
        max-width: 35rem;
      }

    }

    footer {
        background-color: $moutarde;
        height: 120px;
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
    }


}
