
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap patch No gutters
.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}


$blue-clair: #80c4fe;
$blue-fonce: #41a5f3;
$moutarde : #e5cd3d;

body {

    background-color:  #FFF;

    .navbar-light .navbar-nav {
        font-variant: all-small-caps;
        font-size: 1rem;

        .nav-link {
            color: $blue-clair;
            font-weight: bold;

            &:hover {
                color: $blue-fonce;
                text-decoration-line: underline;
            }
        }
    }


    h3 {
        font-family: serif;
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .post-content {
        color: #000;

        h1 {
            font-family: serif;
        }

        a {
            color: #000;
        }

        .img-fluid {
            padding-bottom: 1rem;
        }

        .links {
            padding: 1rem 0;
        }

        .tags .tag {
            padding: 0 0.2rem;
        }

        .text {
            padding: 2rem 0;
        }
    }

    .aside {

        .video {
            background-color: $blue-clair;
            padding: 2.5rem 1.8rem 1.8rem 1.5rem;
            margin-bottom: 3rem;
            color: #FFF;
            font-size: .8rem;

            .links {
                div {
                    display: inline-block;
                }
            }

            .resume {
                padding: 1rem 0;
            }
        }
    }

    .post-links {
        margin-top: 2rem;

        .post {
            padding-bottom: 1.8rem;
            margin-bottom: 3rem;
            color: $blue-fonce;
            font-size: .8rem;

            img {
                margin-bottom: 1rem;
            }
            .resume {
                padding: 0 1.5rem;

                h4 {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin: .8rem 0;
                }

                .text {
                    margin: 1rem 0;
                }

                .links {
                    font-weight: bold;
                    div {
                        display: inline-block;
                    }
                    
                    .share {
                        float: right;
                    }
                }
            }
        }
    }

    footer {
        background-color: $moutarde;
        height: 120px;
        width: 100%;
        //position: absolute;
        bottom: 0;
    }
}
